* {
  border: none;
  border-radius: 0;
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: JetbrainsMono;
}

window#waybar {
  background: #282b2c;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces {
  background-color: #222222;
}

#workspaces button {
  color: lime;
  padding: 3px;
}

#workspaces button.persistent {
  font-size: 12px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  color: #383c4a;
  background: #7c818c;
}

#workspaces button.focused {
  color: #008fbb;
  border-bottom: 2px solid #008fbb;
}

#language {
  padding-left: 4px;
  padding-right: 4px;
  margin-right: 10px;
  margin-top: 1px;
  margin-bottom: 1px;
  transition: none;
  color: deepskyblue;
}

#mode {
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
  transition: none;
  color: #ffffff;
}

#custom-jdate {
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px 10px 10px 10px;
  transition: none;
  color: cyan;
  font-family: "Vazirmatn";
}

#pulseaudio {
  margin-right: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
  transition: none;
  color: orange;
}

#pulseaudio.muted {
  color: #2a5c45;
}

#tray {
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 10px;
  transition: none;
  color: #ffffff;
}

@keyframes blink {
  to {
    color: #000000;
  }
}
